html{font-family: “Arial”,”Microsoft YaHei”,”黑体”,”宋体”,sans-serif;}
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

body
{
    height: 100%;
    background-color:#ffffff ;

}
a{
    cursor: pointer;
}
.container{
    width: 1280px !important;
    max-width: none !important;
}
.borders{
    border: 1px solid #ececec;
}
.border_btm{
    border-bottom: 1px solid #ececec;
}
.content_padding{
    height: 100%;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px
}


.common_body{
    padding-left: 10px;
    padding-right: 10px;
}
.index_body{
    margin: 0 auto;
}
.index_top{
    height: 90px;
    padding-top: 10px;
    line-height: 90px;
}
.logo img{
    width: 128px !important;
    height: 58px !important;
}
.index_top_login{
    text-align: right;
    color: #6c6c6c;
}
.index_top_login img{
    width: 22px;
    height: 22px;
}
.index_nav{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
}
.content_lab{
    padding-top: 40px;
    padding-bottom: 40px;
}
.index_login_div{
    padding: 80px;
    height: 400px;
    width: 32%;
    float: left;
    text-align: center;
}
.ild_m{
    margin-right: 10px;
}
.index_login_div img{
    width: 78px;
    height: 78px;
}
.plat_desc{
    font-size: 12px;
    color: #6c6c6c;
}
.index_footer{
    margin-top: 140px;
    border-top: 1px solid #ececec;
    font-size: 12px;
}
.index_footer p{
    color: #6c6c6c;
}






.common_top{
    padding: 20px 0 20px 0;
}

.common_top img
{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.titles{
    font-size: 24px;
}
.book_content{
    margin-top: 40px;
}
.book_process{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #c0c0c0;
}
.book_process img{
    width: 32px;
    height: 32px;
}
.book_solid{
    margin-top: 16px;
    border-bottom: 1px solid #ececec;
}
.book_form{
    padding-left: 200px;
    padding-right: 200px;
    margin: 40px auto;
}

.book_list {
    padding-left: 20px;
    padding-right: 20px
}
.book_tab_top{
    margin-top: 20px;
    line-height: 40px;
    height: 40px;
    background-color: #F3F3F3;
}
.book_tab_div{
    margin-top: 10px;
}
.book_tab_top{
    background-color: #F3F3F3;
}
.book_tab_info{
    border: 1px solid #F3F3F3;
}
.book_tab_info div{
    border-right: 1px solid #F3F3F3;
    min-height: 100px;
}




.exp_search{
    padding: 30px 0px 30px 0px;
}
.category_span span{
    margin-right: 20px;
}



.device_div{
    border: 1px solid #ececec;
    width: 22%;
    float: left;
    height: 260px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.ls_de_img{
    height: 145px;
    border-bottom: 1px solid #ececec;
    padding: 10px;
    text-align: center;
}
.ls_de_img img{
    width: 200px;
    height: 125px;
}
.desc{
    padding: 10px;
}
.de_title{
    font-size: 14px;
}
.de_desc{
    font-size: 12px;
    color: #c0c0c0;
}
.ls_de_han{
    text-align:right;
}
.ls_de_han img{
    width: 18px;
    height: 18px;
    margin-left: 10px;
}





/** order **/
.or_list{
    margin-bottom: 20px;
}
.or_list_d{
    border-bottom: 1px solid #f4f4f4;
    height: 140px;
    padding:10px 0 10px 0;
    line-height: 120px;
}
.or_list_d img{
    width: 212px;
    height: 100px
}
.or_han{
    background-color: #f5f5f5;
    padding: 0px 0px 0px 5px;
    height: 60px;
    line-height: 60px;
}
.or_like_top{
    background-color: #f5f5f5;
    padding: 10px 5px 10px 5px;
    margin-top: 10px;
}
.or_like_div{
    height: 300px;
    border-right:1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
}
.buy_btn{
    background-color: #C0AE8A;
    color: white;
    text-align: center;
}
.lb_btn{
    line-height: 300px;
    text-align: center;
}
.lb_btn img{
    width: 26px;
    height: 26px;
}
.lik_div{
    height: 300px;
    padding-top: 60px;
    text-align: center;
}
.lik_div img{
    width: 218px;
    height: 140px;
}


/** search **/
.search_header{
    height: 148px;
    margin-top: 30px;
}
.search_form{
    height: 48px;
    margin: 0 auto;
    background: #fff;
}
.search_hot{
    list-style: none;
    padding: 0;
}
.fli{
    margin-right: 12px;
    font-size: 12px;
    line-height: 18px;
    color: #4D555D;
}
.search_hot li{
    float: left;
    font-size: 12px;
    margin-top: 12px;
    margin-right: 24px;
}
.search_hot li a{
    color: #4D555D
}
.search_input{
    ont-size: 16px;
    color: #93999F;
    width: 584px;
    line-height: 48px;
    height: 48px;
    margin-left: 52px;
    float: left;
    padding-left: 10px;
}
.search_btn{
    background: #1790FF;
    width: 104px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    color: #fff;
    float: left;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 0px;
}
.search_dl{
    margin-bottom: 8px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 10px;
    height: 180px;
}

.search_dl img{
    width: 210px;
    height: 120px;
}
.search_ldetial{
}
.ldetail_tag{
    font-size: 12px;
}
.ldetail_desc{
    font-size: 12px;
    color: #c0c0c0;
}
.search_r{
    height: 500px;
    float: right !important;
}

.search_rh{
    height: 40px;
    line-height: 40px;
}
.search_rl{
    width: 275px;
}
.search_rl ul{
 list-style: none;
    padding: 0
}
.search_rl ul li{
    margin-bottom: 10px;
}
.search_rl ul li img{
    width: 80px;
    height: 60px;
}
.aside-course-img{
    float: left;
    width: 80px;
    height: 60px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
.aside-course-type{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    color: red;
    line-height: 18px;
    padding: 2px 4px;
    background: #f5f5f5;
    border-radius: 6px 0 6px 0;
}
.aside-course-name{
    padding-top: 8px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 4px;
    cursor: pointer;
    color: #545C63;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.aside-course-price{
    color: #c0c0c0;
}
.aside-course-content{
    margin-left: 96px;
    height: 67px;
    position: relative;
    box-sizing: border-box;
    font-size: 12px;
    color: #545C63;
    line-height: 18px;
    border-bottom: 1px solid rgba(43,51,59,0.1);
}


/**  注册reg **/
.ft_bs_color{
    color: #1790FF;
}
.reg_bg{

}
.reg_content{
    position:relative;
    min-height: 100%;
}
.reg_content input{
    padding-top: 20px;
    padding-bottom: 20px;
}
.reg_btn{
    background-color: #1790FF !important;
    border: 1px  solid  #1790FF !important;
    color: white;
}
.reg_hit{
    text-align:  center;
    font-size: 12px;
    margin-top: 30px;
    color: #c0c0c0;
}
.reg_copyright{
    height:80px;
    line-height: 80px;
    text-align:center;
    font-size: 14px !important;
}
.reg_form{
    margin-top: 130px;
}
.lose_pwd{
    text-align: right;
    font-size: 12px;
    color:#525459
}




